body{font-family:'微软雅黑';min-width:1000px;}
.top{width:100%;height:40px;background:black;} 
.top_cont{width:1000px;height:40px;margin:0 auto;background:black;color:#fefefe;font-size:12px;}
.top_cont_left{width:300px;height:28px;display:-webkit-box;-webkit-box-align:center;float:left;padding:5px 0 0 0;}
.top_cont_left div{}
.top_cont_left div:first-child{margin-top:-3px;}
.top_cont_right{float:right;padding:5px 0 0 0;}
.top_cont_right>li{float:left;height:28px;display:-webkit-box;-webkit-box-align:center;padding:0 20px;}
.top_cont_right>li:last-child>p{margin-left:5px;float:right;}
.daohang{width:1000px;height:54px;margin:0 auto;background:white;}
.daohang>div{float:left;color:#8181A1;margin:6px 0 12px 35px;font-size:28px;}
.daohang>ul{float:right;}
.daohang>ul>li{float:left;font-size:13px;margin:20px 0 13px 0;padding:0 21px;border-left:1px solid #9a9a9a;border-right:1px solid #7d7d7d;}
.daohang>ul>li:first-child{border-left:none;}
.daohang>ul>li:last-child{border-right:none;}
.daohang>ul>li:hover{color:#0076ca;}
.banner{width:100%;height:575px;background:url(../images/bj1.jpg);background-size:cover;background-position:center center;margin:0 auto;}
.banner_top{width:100%;height:460px;}
.banner_top_cont{width:1000px;height:460px;margin:0 auto;}
.tu_yi{margin:90px 0 0 -165px;float:left;}
#tu_er{float:right;margin:50px 65px 0 0;}
.geyan{color:white;font-size:32px;float:left;width:530px;margin:150px 0 0 -30px;}
.geyan_a{font-size:14px;margin:50px 0 0 100px;}
.jineng{width:1000px;height:365px;background:white;margin:0 auto;}
.jineng_top{height:90px;border-bottom:1px solid #eaeaea;padding-top:25px;}
.jineng_top p{width:100%;font-size:18px;text-align:center;height:40px;line-height:40px;}
#lan{width:1000px;margin:0 auto;margin-top:7px;}
#lan div{width:28px;height:6px;background:#f1aa65;margin:0 auto;}
.jineng_bottom{width:100%;height:250px;font-size:14px;}
.jineng_bottom>ul{width:100%;margin:40px 45px;}
.jineng_bottom>ul>li{width:25%;float:left;}
.jineng_bottom>ul>li:first-child{margin-left:-45px;}
.jineng_bottom>ul>li>p{text-align:center;line-height:25px;color:#a8a8a8;}
.jineng_bottom>ul>li>p:first-child{margin:0 0 5px 0;}
.jineng_bottom>ul>li>p:nth-child(2){font-weight:bold;}
.bigyoushi{width:100%;height:380px;background:url(../images/img7.png);background-size:cover;background-position:center center;}
.youshi{width:1000px;margin:0 auto;font-size:14px;}
.youshi_bottom{width:100%;height:185px;}
.youshi_bottom_one{height:115px;}
.youshi_bottom_one>div{width:285px;float:left;height:100px;}
.youshi_bottom_one div div:first-child{width:280px;margin-top:20px;height:18px;line-height:18px;text-align:center;}
.youshi_bottom_one div div:first-child div{display:none;width:200px;margin:0 auto;text-align:center;}
.youshi_bottom_one div div:nth-child(2){width:200px;height:35px;line-height:35px;text-align:center;margin:0 auto;font-weight:bold;}
.youshi_bottom_one div div:nth-child(3){width:286px;height:25px;text-align:center;color:white;}
.youshi_bottom_one div div:nth-child(3) p{width:23px;height:23px;background:#a8a8a8;border-radius:50%;text-align:center;line-height:23px;margin:0 auto;}
.youshi_bottom_one div:hover .bai{
    background:#F1AA65;
	animation-name:eventMove;
	animation-duration:1s;
	animation-timing-function:ease;
	animation-iteration-count:1;}
.youshi_bottom_one div:hover .xianone{display:block;}
.youshi_bottom_one div:hover{color:#F0A966;}
.youshi_bottom_one div:hover  .zhuan{color:#000;}
.youshi_bottom_three div:hover{color:#F0A966;}
.youshi_bottom_three div:hover  .zhuan{color:#000;}
.youshi_bottom_three div:hover .bai{
    background:#F0A966;
    animation-name:eventMove;
	animation-duration:1s;
	animation-timing-function:ease;
	animation-iteration-count:1;
}
.youshi_bottom_three div:hover .xianone{display:block;}
.youshi_bottom_two{width:1000px;height:7px;background:url(../images/img8.png);background-size:cover;background-position:center center;}
.youshi_bottom_three{height:130px;float:right;}
.youshi_bottom_three>div{width:285px;float:left;height:130px;}
.youshi_bottom_three div div:first-child{width:280px;margin-top:20px;height:20px;line-height:20px;text-align:center;}
.youshi_bottom_three div div:last-child p{display:none;width:200px;margin:0 auto;text-align:center;line-height:25px;}
.youshi_bottom_three div div:nth-child(2){width:200px;height:27px;line-height:27px;text-align:center;margin:0 auto;font-weight:bold;}
.youshi_bottom_three div div:nth-child(1){width:286px;height:25px;text-align:center;color:white;}
.youshi_bottom_three div div:nth-child(1) p{width:23px;height:23px;background:#a8a8a8;border-radius:50%;text-align:center;line-height:23px;margin:0 auto;}
.youshi_bottom_three div div:nth-child(3) p{display:none;}
.bigfangan{width:100%;height:735px;}
.fangan{width:1000px;height:735px;margin:0 auto;}
.fangan_bottom{margin-top:45px;}
.fangan_bottom ul{height:277px;margin-top:10px;}
.fangan_bottom ul li{float:left;margin-right:10px;height:277px;width:242px;overflow:hidden;}
.fangan_bottom ul li:last-child{margin-right:0px;}
.fangan_bottom ul li div{width:100%;height:277px;position:relative;top:-277px;background:rgba(0,0,0,0.6);z-index:20;color:white;}
.fangan_bottom ul li div p{padding:10px;line-height:20px;}
.fangan_bottom ul li img{width:100%;height:277px;margin-top:-299px;z-index:20;}
.biganli{width:100%;height:715px;}
.anli{width:1000px;height:690px;margin:0 auto;overflow:hidden;}
.anli_bottom_top{width:1000px;height:75px;}
.anli_bottom_top ul {width:329px;margin:0 auto;}
.anli_bottom_top ul li{float:left;width:62px;height:35px;background:url(../images/img10.png) no-repeat;text-align:center;line-height:28px;margin:20px 10px;}
.anli_bottom_bottom p{width:1000px;text-align:center;}
.active{background:url(../images/img9.png) no-repeat !important;color:white; }
.bighangye{width:100%;height:475px;background:url(../images/img12.jpg);}
.hangye{width:1000px;height:100%;margin:0 auto;}
.hangye_bottom{width:1000px;height:auto;overflow:hidden;margin:40px 0 0 0;}
.hangye_bottom_one{width:413px;height:107px;background:url(../images/img13.png) 100% 100%;float:left;}
.hangye_bottom_one_left{width:100px;float:left;margin-top:10px;}
.hangye_bottom_one_left p:first-child{width:75px;font-size:50px;border-bottom:1px solid #e9e9e9;margin:0 auto;text-align:center;}
.hangye_bottom_one_left p:last-child{width:75px;font-size:12px;color:#a8a8a8;margin:0 auto;overflow:hidden;margin-top:3px;text-align:center;}
.hangye_bottom_one_right{width:300px;float:right;margin:10px 5px 0 0;}
.hangye_bottom_one_right p:first-child{width:300px;height:30px;font-size:14px;font-weight:bold;line-height:30px;overflow:hidden;}
.hangye_bottom_one_right p:last-child{font-size:12px;color:#a8a8a8;line-height:25px;}
.two{float:right;}
.hangye_bottom_one:hover {color:#F1AA65;background:url(../images/img21.png) 100% 100%;}
.hangye_bottom_one:hover .hangdong{border-bottom:1px solid #F1AA65;}
.hangye_bottom_one:hover .hangdong_d{color:#0076ca;color:#F1AA65;}
.zhengming{width:100%;height:300px;background:url(../images/bj5.jpg) no-repeat;background-size:cover;background-position:center 85%;}
.jihui{width:1000px;margin:0 auto;font-size:28px;line-height:70px;text-align:center;padding:70px 0 0 0;color:white;-color:#696868;font-family:'方正粗宋简体';}
.biglianxiwo{width:100%;height:875px;background:#F0A966;}
.biglianxiwo>div:first-child{width:100%;height:680px;background:url(../images/img15.png) no-repeat;background-size:cover;background-position:center center;}
.lianxiwo{width:1000px;height:680px;margin:0 auto;}
.lianxiwo_bottom{width:447px;height:480px;background:url(../images/img16.png) no-repeat;margin:0 auto;margin-top:20px;position:relative;}
.lianxiwo_bottom p{width:300px;margin:0 auto;padding-top:30px;-text-indent:25px;font-size:14px;line-height:29px;height:190px;}
.lianxiwo_bottom_bot{margin:130px 0 0 157px;font-size:14px;line-height:20px;}
.lianxiwo_bottom_bot div{margin:0px 0px 10px 0;}
.lianxiwo_bottom_bot div img{margin:0px 10px 0 0;}
.footer{width:1000px;height:120px;margin:0 auto;margin-top:50px;}
.footer_left{width:200px;color:#fff9b3;font-size:48px;line-height:90px;border-right:1px solid #7C552E;float:left;}
.footer_right{float:left;width:785px;color:#ffffff;height:90px;border-left:1px solid #FDF3B6;font-size:12px;}
.footer_right p{padding:20px 0 0 0;width:820px;height:25px;text-align:center;overflow:hidden;}
.footer_right p span{padding:10px 25px;}

#anli_bottom_bottom p:first-child{display:block;}

.top a:link{text-decoration:none;color:#ffffff;}
.top a:hover{text-decoration:none;color:#FCBF1C;}
.top a{text-decoration:none;display:inline-block;color:#ffffff;}

.footer a:link{text-decoration:none;color:#ffffff;}
.footer a:hover{text-decoration:none;color:#fff9b3;}
.footer a{text-decoration:none;display:inline-block;color:#ffffff;}

a:link{text-decoration:none;}
a:hover{text-decoration:none;color:#FCBF1C;}
a{text-decoration:none;display:inline-block;color:black;}

.blue_color{color:#f1aa65 !important;transition:0.5s all ease;
    animation-name:yaobaiMove;
	animation-duration:2s;
	animation-timing-function:ease;
	animation-iteration-count:1;
}
.adddongg{transform:scale(1.1) !important;transition:0.5s all ease;}
.move_two{
	animation-name:yaobaiMove;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-iteration-count:9999;
}
.move{
	animation-name:yaobaiMove;
	animation-duration:2s;
	animation-timing-function:ease;
	animation-iteration-count:1;
}
@keyframes yaobaiMove
{
	0%{ 
	    transform:translateX(0px) rotate(0deg);
		transform-origin:bottom center;
	}
	10%{ 
	    transform:translateX(-15px) rotate(-6deg);
		transform-origin:bottom center;
	}
	20%{ 
	    transform:translateX(15px) rotate(4deg);
		transform-origin:bottom center;
	}
	40%{ 
	    transform:translateX(-10px) rotate(-3deg);
		transform-origin:bottom center;
	}
	60%{ 
	    transform:translateX(10px) rotate(2deg);
		transform-origin:bottom center;
	}
	80%{ 
	    transform:translateX(-5px) rotate(-1deg);
		transform-origin:bottom center;
	}
	100%{
	    transform:translateX(0px) rotate(0deg);
		transform-origin:bottom center;
	}
	
}
@keyframes eventMove
{
	0%{ 
	    transform:scale(1,1);
	}
	40%{ 
	    transform:scale(1.3,0.6);
	}
	50%{ 
	    transform:scale(0.6,1.3);
	}
	60%{ 
	    transform:scale(1.2,0.7);
	}
	70%{ 
	    transform:scale(0.7,1.2);
	}
	80%{ 
	    transform:scale(1.1,0.9);
	}
	100%{ 
	    transform:scale(1,1);
	}
	
}

.fangan_bottom>ul>li:hover .xialai{top:0;transition:0.5s all ease;}
.move_eight{
	animation-name:eightMove;
	animation-duration:2.5s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
@keyframes eightMove
{
	0%{
		top:-10px;
	}
	50%{
		top:30px;
	}
	100%{
		top:-10px;
	}
	
}